/*Created with Adobe RoboHelp 2019.*/
body {
  font-family: Arial;
  background-color: #ffffff;
}
h1 {
  font-weight: bold;
  font-size: 24.0pt;
}
h2 {}
h2.SCM_h2 {
  font-size: 16pt;
  border-width: 1px;
  border-style: solid;
  border-color: #000000;
  background-color: #DDDDDD;
  border-left: 0;
  border-right: 0;
  padding: 10px 10px 10px 10px;
}
h3 {}
h3.SCM_h3 {
  font-size: 12pt;
  line-height: 1;
  background-color: rgba(180, 180, 0, 0.20);
  border-width: 1px;
  border-style: none;
  border-color: #000000;
  border-left: 0;
  border-right: 0;
  background-size: 0px 0px;
  padding-top: 8px;
  padding-right: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  border-left-width: 1px;
  border-left-style: none;
  border-left-color: #000000;
  border-top-width: 1px;
  border-top-style: none;
  border-top-color: #000000;
  border-right-width: 1px;
  border-right-style: none;
  border-right-color: #000000;
  border-bottom-width: 1px;
  border-bottom-style: none;
  border-bottom-color: #000000;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
  width: 40%;
  font-family: 'Fira Code Light';
  font-style: italic;
}
h4 {
  font-weight: bold;
  font-size: 12.0pt;
  border-width: 1px;
  border-style: none;
  border-color: #000000;
}
h5 {
  font-weight: bold;
  font-size: 10.0pt;
}
h6 {
  font-weight: bold;
  font-size: 8.0pt;
}
p {
  text-align: left;
  column-rule-width: 1px;
  column-rule-style: none;
  column-rule-color: #000000;
}
p.SCM_Indent {
  font-size: 12.0pt;
  margin-top: 0pt;
  margin-bottom: 0pt;
  margin: NaNpx NaNpx NaNpx px;
  margin-left: 40px;
}
a.expandspot {
  color: #008000;
  cursor: hand;
  font-style: italic;
  text-decoration: none;
}
span.expandtext {
  font-style: italic;
  font-weight: normal;
  color: #ff0000;
}
a.dropspot {
  cursor: hand;
  color: #008000;
  font-style: italic;
  text-decoration: none;
}
a.glossterm {
  color: #800000;
  cursor: hand;
  font-style: italic;
  text-decoration: none;
}
span.glosstext {
  font-style: italic;
  font-weight: normal;
  color: #0000ff;
}
ol,
ul {}
ol.Decimal {
  list-style-type: decimal;
}
ul.Disc {
  list-style-type: disc;
}
span.SCM_Keyboard {
  color: #000000;
  text-align: left;
  /* text-transform: uppercase; */
  background-color: rgba(255, 66, 79, 0.23);
  text-decoration: none;
  padding-left: 4px;
  padding-right: 4px;
  font-style: italic;
  font-family: 'Fira Code';
}
table.SCM_simple {
  border-width: 1px;
  border-style: none;
  border-color: #000000;
}
table.SCM_simple td {
  border-width: 0px;
  border-style: none;
  border-color: #000000;
}
ol.RoundSquare {
  list-style-type: none;
  counter-reset: item1;
  padding: 0;
  margin: 0;
}
ol.RoundSquare li {
  display: table;
}
ol.RoundSquare li:before {
  text-align: right;
  display: table-cell;
  padding-right: 0.5rem;
}
ol.RoundSquare ol {
  list-style-type: none;
  counter-reset: item;
  padding: 0;
  margin: 0;
}
ol.RoundSquare ol>li:before {
  counter-increment: item;
  content: counter(item) ".";
}
ol.RoundSquare>li:before {
  counter-increment: item1;
  content: counter(item1, disc);
}
ol.RoundSquare>li>ol {
  counter-reset: item2;
}
ol.RoundSquare>li>ol>li:before {
  counter-increment: item2;
  content: counter(item2, square);
}
ol.RoundSquare>li>ol>li>ol {
  counter-reset: item3;
}
ol.RoundSquare>li>ol>li>ol>li:before {
  counter-increment: item3;
  content: counter(item3, circle);
}
ol.RoundSquare>li>ol>li>ol>li>ol {
  counter-reset: item4;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li:before {
  counter-increment: item4;
  content: counter(item4, disc);
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol {
  counter-reset: item5;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item5;
  content: counter(item5, square);
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol {
  counter-reset: item6;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item6;
  content: counter(item6, circle);
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  counter-reset: item7;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item7;
  content: counter(item7, disc);
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  counter-reset: item8;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item8;
  content: counter(item8, square);
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  counter-reset: item9;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item9;
  content: counter(item9, circle);
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol {
  counter-reset: item10;
}
ol.RoundSquare>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li>ol>li:before {
  counter-increment: item10;
  content: counter(item10, disc);
}
span.SCM_Quotes {
  font-style: italic;
  font-family: 'Fira Code';
  border-width: 0px;
  border-style: none;
  border-color: #000000;
  font-size: %;
  background-color: rgba(180, 180, 0, 0.20);
  border-left-width: 0px;
  border-left-style: none;
  border-left-color: #000000;
  border-top-width: 0px;
  border-top-style: none;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: none;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: #000000;
  padding-left: 4px;
  padding-right: 4px;
}
span.SCM_MenuItem {
  font-style: italic;
  font-family: 'Fira Code';
  border-width: 0px;
  border-style: none;
  border-color: #000000;
  font-size: %;
  background-color: rgba(200, 200, 255, 0.35);
  border-left-width: 0px;
  border-left-style: none;
  border-left-color: #000000;
  border-top-width: 0px;
  border-top-style: none;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: none;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: #000000;
  padding-left: 4px;
  padding-right: 4px;
}
span.SCM_Term {
  font-style: italic;
  font-family: 'Fira Code';
  border-width: 0px;
  border-style: none;
  border-color: #000000;
  font-size: %;
  background-color: rgba(255, 71, 255, 0.19);
  border-left-width: 0px;
  border-left-style: none;
  border-left-color: #000000;
  border-top-width: 0px;
  border-top-style: none;
  border-top-color: #000000;
  border-right-width: 0px;
  border-right-style: none;
  border-right-color: #000000;
  border-bottom-width: 0px;
  border-bottom-style: none;
  border-bottom-color: #000000;
  padding-left: 4px;
  padding-right: 4px;
}
img.scmImage {
  border-width: 1px;
  border-style: none;
  border-color: #000000;
  text-align: left;
  text-wrap: left;
  float: left;
  margin: 0px 10px 0px 0px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  font-family: 'Fira Code';
}
table.SCM_Basic_noBorders {
  break-after: always;
  border-width: 0px;
  border-style: none;
  border-color: transparent;
  border-left-width: 1px;
  border-left-style: none;
  border-left-color: transparent;
  border-top-width: 1px;
  border-top-style: none;
  border-top-color: transparent;
  border-right-width: 1px;
  border-right-style: none;
  border-right-color: transparent;
  border-bottom-width: 1px;
  border-bottom-style: none;
  border-bottom-color: transparent;
  width: 80%;
  border-collapse: collapse;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
p.SCM_Hint {
  font-family: 'Arial Narrow';
  color: #323232;
  font-style: italic;
  letter-spacing: 1px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: rgba(197, 197, 0, 0.13);
}
div.SCM_Note {
  color: #323232;
  font-style: italic;
  font-family: 'Arial Narrow';
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background-color: rgba(175, 170, 0, 0.12);
  height: 10px;
  width: 70%;
}
ol {
  margin-top: 0px;
  margin-bottom: 0px;
}
ul {
  margin-top: 0px;
  margin-bottom: 0px;
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 8px;
  counter-reset: item1;
  list-style: none;
  padding-left: var(--prefix-size);
  margin-left: calc(var(--list-indent) - var(--prefix-size));
}
ul>li {
  --prefix-size: 40px;
  --prefix-fixed-size: false;
  --prefix-gap: 4px;
  --list-indent: 40px;
  --vertical-spacing: 8px;
  position: relative;
  margin-top: calc(var(--vertical-spacing) / 2);
  margin-bottom: calc(var(--vertical-spacing) / 2);
}
ul>li:before {
  counter-increment: item1;
  content: counter(item1, disc);
  text-align: right;
  position: absolute;
  left: calc(-1 * var(--prefix-size) - var(--prefix-gap));
  margin-right: var(--prefix-gap);
  width: var(--prefix-size);
  overflow: hidden;
  line-height: 1;
  vertical-align: ;
}